@import "variables";
@import "tipografia";
@import "grilla";
@import "fondo";

.pading{
    padding: 5%;
}
.paddingLeft {
    padding-left: 300px;
}
.paddingRight{
    padding-right: 50%;
}
.bMorado{
    border-top: solid 5px rgb(57, 0, 36);
    border-bottom: solid 5px rgb(57, 0, 36);
}
.margin1{
    margin-right: 200px;
}
.flexImpresion3d{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.itemImpresion3d{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 5%;
}
.itemMinimundos{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 7%;
}
.imagenesCarrusel{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.marginAuto{
    margin-left: auto;
    margin-right: auto;
}

